.navbar {
  position: fixed;
  display: flex;
  z-index: 5;
}

.navbar img {
  height: 2rem;
  margin: 0 1rem;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--clr-purple);
  margin: 0 1rem;
  z-index: 5;
}

.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--clr-purple);
  transition: width .5s;
}

.navbar a:hover::after {
  width: 100%;
}