.work {
  min-height: 100%;
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  background: var(--clr-orange);
}

.title {
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--clr-purple);
  display: flex;
  justify-content: center;
}

.work-container {
  padding-bottom: 2rem;
  z-index: 3;
}