:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-neon-green: #69E147;
  --clr-header-bg: #3A4193;
  --clr-font-white: #F8F8FF;
  --clr-work-bg: #242424;
  --clr-skills-bg: #333333;
  --clr-about-bg: #2c2c2c;
  --clr-section-title: #F8F8FF;
  --clr-purple: #ac66cc;
  --clr-orange: #ffd384;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  /* min-height: 100vh; */
  /* display: grid; */
  /* place-items: center; */
  /* background: var(--clr-bg); */
  font-family: 'Karla', sans-serif;
  font-family: 'Play', sans-serif;
  color: var(--clr-neon);
  /* padding-right: 10rem; */
}

html, body, #root, #root>div {
  height: 100%
}
